body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #797684;
}

h1 {
  color: #ffffff8a;
  text-align: center
}

header {
  height: 100px;
}

input {
  border-radius: 50px;
}

input::placeholder {
  padding-left: 5px
}

.new-palette-button {
  width: 180px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-palette-button, 
.save-palette-button,
.save-project-button {
  background-color: #ffffff8a;
  border-radius: 50px;
  color: #780479;
}

.new-palette-button:hover,
.save-palette-button:hover, 
.save-project-button:hover {
  background-color: #FFF;
}

.new-palette-button:focus,
.save-palette-button:focus,
.save-project-button:focus,
.lock-button:focus,
select:focus,
input:focus {
  outline: 0
}

.lock-button {
  position: relative;
  background-color: transparent;
  background-image: url('./images/unlock.png');
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  height: 20px;
  width: 20px;
  left: 50%;
  top: 60px;
  transform: translate(-50%, -50%);
}

.lock-button.locked {
  background-image: url('./images/lock.png');
}

.drop-shadow {
  position: relative;
  left: 50%;
  top: 145px;
  transform: translate(-50%, -50%);
  background: #d4d4d42e;
  visibility: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50px;
}

.color-label {
  text-align: center;
  position: relative;
  top: 87px;
  font-size: 13px;
  margin: 0
}

.colors {
  display: flex;
  height: 200px;
  justify-content: space-around;
}

.box {
  background-color: black;
  height: 180px;
  width: 180px;
  border-radius: 50%;
}

.save-palette {
  position: relative;
}

select {
  background-color: #ffffff8a;
  color: #780479;
}

hr {
  height: 1px;
  margin: 20px
}

.save-palette, 
.projects {
  text-align: center;
}

.project-list {
  width: 300px;
  background-color: #4c4958;
  color: white;
  margin: auto;
  padding: 1px 10px 15px 10px;
}

h4 {
  text-decoration: underline;
  margin: 25px;
}

.palette-list {
  display: inline;
}

.palette-list p {
  font-size: 10px
}

.palette-swatch {
  height: 10px;
}

.no-palettes-saved {
  font-size: 8px;
}

.delete-button {
  height: 11px;
  width: 10px;
  vertical-align: text-bottom;
}